@media screen and (max-width: 3000px) {

}
@media screen and (max-width: 2000px) {

}
@media screen and (max-width: 1920px) {

}
@media screen and (max-width: 1880px) {
   
}
@media screen and (max-width: 1536px) {
   
}
@media screen and (max-width: 1366px) {
 
}
@media screen and (max-width: 1200px) {
    
}
@media screen and (max-width: 1024px) {
    
}
@media screen and (max-width: 992px) {
    
}
@media screen and (max-width: 768px) {
    
}
@media screen and (max-width: 645px) {
    
}
@media screen and (max-width: 520px) {
    
}
@media screen and (max-width: 480px) {
    
}
@media screen and (max-width: 400px) {
    
}
@media screen and (max-width: 320px) {

}